body {
    background: #eef2f7;
    font-family: Arial, sans-serif;
}

.security-container {
    width: 420px;
    margin: 80px auto;
    text-align: center;
}

.logo {
    width: 260px;
    margin-bottom: 20px;
}

.box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 95%;
    padding: 12px;
    background: #0c6cf2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background: #0549a7;
    cursor: pointer;
}

.link {
    margin-top: 10px;
    color: #0c6cf2;
    cursor: pointer;
}
