/* BODY */
.security-body {
    margin: 0;
    font-family: 'Arial';
    background: #eef2f7;
}

/* HEADER */
.sec-header {
    text-align: center;
    padding: 40px;
}
.vb-logo {
    height: 70px;
}

.subtitle {
    font-size: 16px;
    color: #444;
}

/* GLASS EFFECT */
.glass {
    background: rgba(255,255,255,0.65);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* LOGIN CARD */
.login-card {
    width: 350px;
    margin: 40px auto;
    padding: 25px;
    text-align: center;
}

.login-card input {
    width: 90%;
    margin: 8px 0;
    padding: 10px;
}

/* DASHBOARD */
.dashboard-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.panel {
    padding: 20px;
    margin-top: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* FOOTER */
.glass-footer {
    margin-top: 80px;
    padding: 15px;
    text-align: right;
}

.sec-footer-logo-small {
    height: 22px;
    margin-right: 6px;
    opacity: 0.9;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

button {
    padding: 10px 18px;
    background: #0053cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #003f99;
}
